@font-face {
  font-family: "manrope";
  src: url("./fonts/Manrope-Bold.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: "manrope", sans-serif;
  font-size: 1.75rem;
  background-color: hsl(220, 22%, 16%);
  color: hsl(193, 38%, 86%);
  padding: 0 1rem;
}

.card {
  background-color: hsl(217, 19%, 24%);
  max-width: 32rem;
  min-height: 20rem;
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
  margin: 20vh auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quote-container {
  padding-bottom: 2.5rem;
  margin-bottom: 1.5rem;
  background-image: url("./images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.id {
  color: hsl(150, 100%, 66%);
  font-size: 0.6875rem;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.quote {
  font-size: 1.5625rem;
}

.button {
  cursor: pointer;
  background-color: hsl(150, 100%, 66%);
  border: none;
  padding: 1rem;
  border-radius: 100px;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: box-shadow 0.3s;
}

.button:hover {
  box-shadow: 0 0 18px hsl(150, 100%, 66%);
}

@media (min-width: 768px) {
  body {
    padding: 0;
  }

  .App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 32rem;
    padding: 2rem;
  }

  .quote-container {
    background-image: url("./images/pattern-divider-desktop.svg");
  }
}
